* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100px;
    width: 450px;
    margin-top: 30px;
}

#tag1 {
    color: #0077b6;
    border: 1px solid #0077b6;
    border-radius: 35px;
    height: 50px;
    width: 200px;
    background-color: white;
    font-size: 18px;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

.img1 {
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

p {
    font-size: 25px;
    color: grey;
}

.tag2 {
    width: 170px;
    height: 45px;
    font-size: 20px;
    color: #99d98c;
    border-style: none;
}

.tag3 {
    width: 190px;
    height: 45px;
    font-size: 20px;
    color: #0077b6;
    border-style: none;
}

.tag4 {
    width: 170px;
    height: 45px;
    font-size: 20px;
    color: #0077b6;
    border-style: none;
}


label {
    margin-inline-start: 50px;
    font-size: 20px;
    color: #0077b6;
}

select {
    margin: 20px 0 0 50px;
    width: 400px;
    height: 55px;
    border: 2px solid #99d98c;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 10px;
    color: gray;
}

select:focus {
    outline: none;
    border-color: #023e8a;
}

input{
     margin: 20px 0 0 50px;
    width: 400px;
    height: 55px;
    border: 2px solid #99d98c;
    font-size: 16px;
    padding-left: 10px;
    border-radius: 10px;
    color: gray;
}

.but{
     color: white;
    height: 50px;
    width: 400px;
    background-color: #0077b6;
    font-size: 18px;
    border: none;
    border-radius: 15px;
     margin: 20px 0 0 50px;
}

